# 전공과목 "파이썬 심화" 책_파이썬 라이브러리를 활용한 데이터 분석 Chapter5. Pandas 참고

In [18]:
import pandas as pd

In [19]:
data = pd.read_csv('gapminder.tsv', sep='\t')

In [20]:
data

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [22]:
data.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [23]:
data.head(n=20)  
# data.head()의 argument에 정수 a를 할당한 경우 상위 a개의 행이 return된다.

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
1   Afghanistan      Asia  1957   30.332   9240934   820.853030
2   Afghanistan      Asia  1962   31.997  10267083   853.100710
3   Afghanistan      Asia  1967   34.020  11537966   836.197138
4   Afghanistan      Asia  1972   36.088  13079460   739.981106
5   Afghanistan      Asia  1977   38.438  14880372   786.113360
6   Afghanistan      Asia  1982   39.854  12881816   978.011439
7   Afghanistan      Asia  1987   40.822  13867957   852.395945
8   Afghanistan      Asia  1992   41.674  16317921   649.341395
9   Afghanistan      Asia  1997   41.763  22227415   635.341351
10  Afghanistan      Asia  2002   42.129  25268405   726.734055
11  Afghanistan      Asia  2007   43.828  31889923   974.580338
12      Albania    Europe  1952   55.230   1282697  1601.056136
13      Albania    Europe  1957   59.280   1476505  1942.284244
14      Albania    Europe  1962   64.820   1728137  2312.888958
15      Albania    Europe  1967   66.220   1984060  2760.196931
16      Albania    Europe  1972   67.690   2263554  3313.422188
17      Albania    Europe  1977   68.930   2509048  3533.003910
18      Albania    Europe  1982   70.420   2780097  3630.880722
19      Albania    Europe  1987   72.000   3075321  3738.932735

In [24]:
data.shape

(1704, 6)

In [25]:
type(data.shape) 
# data.shape 할 경우 tuple 형태로 (nrow, ncolumn)이 return 된다.

tuple

In [26]:
data.shape[0]  
# data.shape에 인덱싱을 하면 dataframe의 행과 열을 각각 참조 가능하다.

1704

In [27]:
data.shape[1]
# 데이터의 형태

6

In [28]:
data.columns
# 데이터의 열 인덱싱 추출

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [29]:
data['country']  
# col 벡터만을 추출하는 경우에는 추출하고자 하는 column의 이름을 직접 입력해 인덱싱 가능.

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [31]:
data['lifeExp'] 
# 특정 행 추출

0       28.801
1       30.332
2       31.997
3       34.020
4       36.088
         ...
1699    62.351
1700    60.377
1701    46.809
1702    39.989
1703    43.487
Name: lifeExp, Length: 1704, dtype: float64

In [33]:
data[,2]  
# column의 번호를 통해서는 인덱싱이 불가능하다.

SyntaxError: invalid syntax (1447475647.py, line 1)

In [34]:
type(data['country'])  
# column을 추출한 경우에는 series형으로 return된다.

pandas.core.series.Series

In [35]:
type(data['country'].to_frame())  
# series 형이 아닌 dataframe(n개의 행, 1개의 열을 가진)형으로 return하고 싶은 경우 to_frame()함수를 이용해 변환한다

pandas.core.frame.DataFrame

In [36]:
data[['continent', 'country']]  
# 여러개의 열을 추출하고 싶은 경우, 각 열의 colname을 리스트에 담아서 인덱싱한다.
# 열이 두 개 이므로 하나의 열을 추출하는 경우와 다르게 자동으로 dataframe형으로 return된다. (series X)

     continent      country
0         Asia  Afghanistan
1         Asia  Afghanistan
2         Asia  Afghanistan
3         Asia  Afghanistan
4         Asia  Afghanistan
...        ...          ...
1699    Africa     Zimbabwe
1700    Africa     Zimbabwe
1701    Africa     Zimbabwe
1702    Africa     Zimbabwe
1703    Africa     Zimbabwe

[1704 rows x 2 columns]

In [37]:
data.loc[4]  
# loc은 데이터를 불러오는 순간부터 지정된 절대적인 행 번호를 통해 인덱싱할 때 이용된다.

country      Afghanistan
continent           Asia
year                1972
lifeExp           36.088
pop             13079460
gdpPercap     739.981106
Name: 4, dtype: object

In [38]:
data.loc[[4,5]]  
# 여러개의 절대 인덱스에 의한 행을 추출하고자 하는 경우 해당 행 번호를 리스트화 해서 인덱싱하면 된다.

       country continent  year  lifeExp       pop   gdpPercap
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360

In [39]:
type(data.loc[4])  
# loc을 통해 추출한 행은 series 형태로 return 된다.

pandas.core.series.Series

In [40]:
data.loc[4]['year']  
# loc을 통해 추출한 행(series)는 colname을 통해 또 한 번 추출 가능하다.

1972

In [41]:
data.loc[[3,4,5], 'country']  
# 여러개의 행에 대한 열도 추출 가능하다.

3    Afghanistan
4    Afghanistan
5    Afghanistan
Name: country, dtype: object

In [42]:
type(data.loc[[3,4,5], 'country'])  
# 여러개의 행과 하나의 열에 대해 추출된 값은 벡터 형태이므로 series 형으로 return 된다.

pandas.core.series.Series

In [43]:
type(data.loc[[3,4,5], ['country', 'continent']])  
# 여러개의 행과 여러개의 열에 대해 추출된 값은 2차원 데이터프레임이므로 dataframe 형으로 return 된다.

pandas.core.frame.DataFrame

In [47]:
nrows, ncols = data.shape[0], data.shape[1]
nrows
# 행, 열 개수 측정

1704

In [48]:
data.loc[nrows-1]  
# 변수에 저장한 정수를 이용한 loc 인덱싱이 가능하다.

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [49]:
new_data = data[1:10]  
# dataframe을 슬라이싱하면 행번호를 기준으로 슬라이싱 된다.
# R에서 data.frame을 슬라이싱 하는 경우에는 data[1:3,]과 같이 컴마를 찍어 행을 슬라이싱 함을 표기해 주어야 한다.

In [50]:
new_data

       country continent  year  lifeExp       pop   gdpPercap
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [51]:
new_data2 = data[1:10:2]  
# by를 지정해서 일정 간격만큼의 행 슬라이싱이 가능하다.

In [52]:
new_data2

       country continent  year  lifeExp       pop   gdpPercap
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [53]:
new_data3 = data.loc[range(1,10,2)]
# range함수를 이용해서도 행을 슬라이싱 가능하다.

In [54]:
new_data3

       country continent  year  lifeExp       pop   gdpPercap
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [55]:
all(new_data2 == new_data3)

True

In [56]:
new_data2.iloc[2]
# loc이 데이터가 로드될 때 부여된 절대 인덱스에 대해 인덱싱하는 반면, iloc은 상대적인 행 번호를 인덱싱한다.

country      Afghanistan
continent           Asia
year                1977
lifeExp           38.438
pop             14880372
gdpPercap      786.11336
Name: 5, dtype: object

In [57]:
all(new_data2.iloc[3] != new_data2.loc[3])
# new_data2.iloc[3]은 new_data를 가장 위 행부터 세었을 때의 series (절대인덱스 7)을 참조한다.

False

In [58]:
new_data2.iloc[:3]  
# 범위를 슬라이싱할 수도 있다.

       country continent  year  lifeExp       pop   gdpPercap
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
5  Afghanistan      Asia  1977   38.438  14880372  786.113360

In [61]:
new_data2.loc[2]
# new_data2는 원본 data 객체에서 홀수 절대 인덱스의 행만을 취했으므로 loc을 이용해 2번 인덱스 행(짝수 인덱스)을 참조한다면 오류가 발생한다.

KeyError: 2

In [64]:
data.iloc[[2,3,6,7]]
# 정수를 element로 가지는 리스트를 만들어 인덱싱 가능하다.

       country continent  year  lifeExp       pop   gdpPercap
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945

In [65]:
data.loc[[2,3,6,7]]
# loc의 경우도 마찬가지이다.

       country continent  year  lifeExp       pop   gdpPercap
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945

In [66]:
data.loc[[2,3,6,7],['continent', 'country']]
# 여러개의 행과 여러개의 열을 인덱싱하는 경우. loc함수를 이용한다.

  continent      country
2      Asia  Afghanistan
3      Asia  Afghanistan
6      Asia  Afghanistan
7      Asia  Afghanistan

In [67]:
data.iloc[[2,3,6,7], ['continent', 'country']]
# IndexError: .iloc requires numeric indexers, got ['continent' 'country']
# iloc은 인덱스로 numeric indexers만을 취한다. ★★★★★

IndexError: .iloc requires numeric indexers, got ['continent' 'country']

In [68]:
data['lifeExp'].median()
# 열로 인덱싱 한 후에 해당 series(벡터)에 대한 함수 적용이 가능하다.

60.7125

In [69]:
data.groupby('country')['lifeExp'].mean()
# groupby(a)[b].f() : column a를 기준으로 b열에 f()를 적용해 return.
# R studio의 data.frame aggregate()와 비슷한 기능을 가진다.

country
Afghanistan           37.478833
Albania               68.432917
Algeria               59.030167
Angola                37.883500
Argentina             69.060417
                        ...
Vietnam               57.479500
West Bank and Gaza    60.328667
Yemen, Rep.           46.780417
Zambia                45.996333
Zimbabwe              52.663167
Name: lifeExp, Length: 142, dtype: float64

In [70]:
data.groupby('continent')['country'].value_counts()
# groupby 함수 example 2

continent  country
Africa     Algeria           12
           Angola            12
           Benin             12
           Botswana          12
           Burkina Faso      12
                             ..
Europe     Switzerland       12
           Turkey            12
           United Kingdom    12
Oceania    Australia         12
           New Zealand       12
Name: country, Length: 142, dtype: int64

In [72]:
data.groupby('continent')['country'].nunique()
# nunique() : 중복값을 제거하고 빈도수를 측정.
# 위의 예시같은 경우 각 continent별 조사된 country의 종류 개수를 추출한다고 생각하면 된다.

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64

In [73]:
Africa1 = data.loc[data['continent'] == 'Africa']
# colname 'continent'가 'Africa'인 행만을 추출.

In [74]:
Africa2 = data[data['continent'] == 'Africa']
# colname 'continent'가 Africa'인 행만을 추출.

In [75]:
all(Africa1 == Africa2)

True

In [76]:
set(data['continent'])

{'Africa', 'Americas', 'Asia', 'Europe', 'Oceania'}